extends ../template/common
block content
  h1 Register
  
  if error
    each err in error
      .alert.alert-danger=err

  form(action="/auth/register" method="POST")
    label(for="email") Email
    input.form-control(type="email" id="email" name="email" value=email ? email : '')
    
    label(for="name") Name
    input.form-control(type="text" id="name" name="name" value=name ? name : '')
    
    label(for="password") Password
    input.form-control(type="password" id="password" name="password" value=password ? password : '')
    
    button.btn.btn-primary.mt-5 Register