html
  head
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
    link(href="/assets/bookstorelogo.png" rel="icon" type="image/png")
  body

    h3 Study Nodejs, Express on CodersX

    ul 
      li 
        a(href="/books") Books
      li 
        a(href="/users") Users
      li 
        a(href="/transactions") Transactions

    h5 Create by Ngo Sach Nhat